/* Основные стили для меню */
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: normal;
  color: #ffffff;
  vertical-align: none;
  text-align: center;
  line-height: normal;
  text-transform: none;
  margin: 0; /* Убираем отступы у body */
  padding: 0; /* Убираем отступы у body */
 }

/* Общие стили для меню */
#main-nav {
  background-color: #333;
  padding: 10px 0;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar li {
  position: relative;
}

/* Стили для основных ссылок меню */
#navbar li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

#navbar li a:hover {
  background-color: #555;
}

/* Стили для подменю */
#navbar ul {
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 2;
  padding: 0;
  margin: 0;
}

#navbar li:hover ul {
  display: block;
  width: 200px;
}

#navbar ul li {
  width: 100%;
  list-style: none;
}

#navbar ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

#navbar ul li:hover a {
  background-color: #555;
}

/* Убираем разделители между пунктами меню */
#main-nav #navbar li 
#main-nav #navbar li:last-child {
  border-right: none;
}

/* Добавим немного стиля для активного пункта меню */
#navbar li.active a {
  background-color: #555;
}
.flags {
  display: flex;
  flex-direction: column; /* Изначально располагаем элементы в столбце */
  justify-content: flex-start; /* Выравниваем элементы по верху */
  overflow-x: hidden; /* Убираем полосу прокрутки по горизонтали */
}

.flag-item {
  position: relative;
  margin-bottom: 10px; /* Добавляем отступ между элементами */
  margin-right: 20px; /* Добавляем отступ справа */
}

.flag-description {
  position: absolute;
  bottom: calc(100% + 10px); /* Располагаем блок над изображением с дополнительным отступом */
  left: 0; /* Размещаем блок слева от изображения */
  width: 100%; /* Ширина блока описания */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  opacity: 0; /* Изначально блок скрыт */
  transition: opacity 0.3s ease; /* Плавное появление блока */
  z-index: 1; /* Устанавливаем выше, чтобы блок находился над изображением */
}

.flag-item:hover .flag-description {
  opacity: 1; /* При наведении блок становится видимым */
}

/* Медиа-запрос для адаптации на мобильных устройствах */
@media screen and (max-width: 700px) {
  .flags {
    display: flex;
    flex-direction: row; /* Изменяем направление элементов на строки */
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  }

  .flag-item {
    margin: 0 10px; /* Добавляем отступы справа и слева */
    margin-bottom: 20px; /* Добавляем отступ снизу */
  }

  .flag-description {
    width: 100%; /* Ширина блока описания на мобильных устройствах */
    margin-top: 5px; /* Добавляем отступ сверху */
  }
}



/* Стили для мобильных устройств */
@media only screen and (max-width: 650px) {
  #navbar {
    flex-direction: column; /* Отображение пунктов меню вертикально на мобильных устройствах */
    align-items: center; /* Центрируем элементы по горизонтали */}

  #navbar li {
    position: static; /* Сброс позиции для основных пунктов меню */
    margin: 0; /* Отступ между пунктами меню */
    width: 100%; /* Ширина пунктов меню на мобильных устройствах */
  }

  #navbar ul {
    position: static; /* Сброс позиции для подменю */
    display: none; /* Скрытие подменю по умолчанию */
  }

  #navbar li:hover ul {
    display: block; /* Отображение подменю при наведении */
  }

  #navbar ul li {
    width: 100%; /* Автоматическая ширина элементов подменю */
  }
}

/* Добавленные стили для блоков текста */
#text-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}


.content-box {
  flex: 1 1 200px;
  background-color: #f0f0f0; /* Светло-серый цвет фона */
  border: 1px solid #000000; /* Черный бардюр */
  border-radius: 10px; /* Закругленные края */
  padding: 10px;
  max-width: calc(50% - 40px);
  font-family: "Times New Roman", Times, serif;
}



#main-nav #navbar li {
  border-right: 1px solid #666;
}

#main-nav #navbar li:last-child {
  border-right: none;
}

#main-nav #navbar li a:hover {
  background-color: #666;
}
/* Стили для основного контента */
#main-content {
  display: flex;
  flex-wrap: wrap; /* Добавляем перенос элементов на новую строку при необходимости */
  justify-content: center; /* Выравнивание элементов по центру */
  padding: 20px;
  text-align: center;
}

.content-block {
  flex: 1 1 100%;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}
/* Стили для списка */
.content-block ul {
  list-style: none;
  padding: 0;
}
.content-block h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px; /* Увеличиваем размер шрифта */
  margin-top: 0; /* Убираем верхний отступ */
}

.content-block ul li {
  border: 2px solid #ccc; /* Рамка вокруг элемента списка */
  border-radius: 5px; /* Закругленные углы рамки */
  margin-bottom: 10px; /* Отступ между элементами списка */
  padding: 5px; /* Внутренний отступ вокруг текста */
}

.content-block ul li p {
  margin: 0; /* Убираем отступы вокруг абзацев */
  font-family: "Times New Roman", Times, serif;
}

/* Добавляем стили для раздела с изображением */
.content-block {
  position: relative; /* Устанавливаем позицию как относительную, чтобы можно было использовать абсолютное позиционирование внутри */
}

.content-block p {
  padding-left: 20px; /* Добавляем отступ слева для текста */
  margin-top: 20px; /* Оставляем отступ сверху */
  font-size: 23px; /* Увеличенный размер шрифта */
  
}

.content-block ul li:hover {
  border-color: #666; /* Темнее цвет рамки при наведении */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Немного более заметная тень */
  background-color: #f2f2f2; /* Нежно серый цвет фона при наведении */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Анимация для плавного перехода */
}

.list-item {
  list-style-type: none; /* Убираем стандартный маркер списка */
  display: list-item; /* Превращаем элементы в список */
  padding-left: 30px; /* Добавляем отступ слева, чтобы сделать место для маркера */
}

.list-item::before {
  content: url("img/index/icons1.webp"); /* Используем прямой слеш в пути к изображению */
  margin-right: 10px; /* Отступ между маркером и текстом */
  height: 14px; /* Задаем высоту изображения маркера */
}


.list {
  list-style-type: none; /* Убираем стандартный маркер списка */
  display: list-item; /* Превращаем элементы в список */
  padding-left: 30px; /* Добавляем отступ слева, чтобы сделать место для маркера */
}

.list::before {
  content: url("img/index/icons2.webp"); /* Указываем путь к изображению маркера */
  margin-right: 10px; /* Отступ между маркером и текстом */
  height: 14px; /* Задаем высоту изображения маркера */
}
.iteem {
  list-style-type: none; /* Убираем стандартный маркер списка */
  display: list-item; /* Превращаем элементы в список */
  padding-left: 30px; /* Добавляем отступ слева, чтобы сделать место для маркера */
}

.iteem::before {
  content: url("img/index/icons3.webp"); /* Указываем путь к изображению маркера */
  margin-right: 10px; /* Отступ между маркером и текстом */
  height: 14px; /* Задаем высоту изображения маркера */
}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0; /* Добавляем верхний и нижний внутренний отступ */
  margin: 0; /* Убираем внешние отступы */
  background-color: #333;
  color: #fff;
  position: relative; /* Устанавливаем позицию как относительную для футера */
}

.footer-menu::after {
  content: "© Выполнил студент группы ИС-22 Қайырбек Аружан"; /* Добавляем текстовое содержимое */
  position: absolute; /* Устанавливаем позицию как абсолютную */
  bottom: 10px; /* Отступ от нижнего края */
  left: 50%; /* Выравниваем по центру */
  transform: translateX(-50%); /* Центрируем по горизонтали */
  width: 100%; /* Делаем текст занимающим всю ширину */
  max-width: 600px; /* Ограничиваем максимальную ширину текста */
  text-align: center; /* Выравниваем текст по центру */
}

/* Медиа-запрос для адаптации положения текста на устройствах с маленькими экранами */
@media only screen and (max-width: 768px) {
  .footer-menu::after {
    position: static; /* При маленьком экране делаем текст обычным элементом потока */
    transform: none; /* Сбрасываем transform */
    max-width: none; /* Сбрасываем ограничение максимальной ширины */
  }
}

/* Общие стили для текста */
.footer-menu, .footer-menu::after {
  font-size: 16px; /* Устанавливаем базовый размер шрифта */
}

/* Медиа-запросы для адаптации размера шрифта */
@media screen and (max-width: 768px) {
  .footer-menu, .footer-menu::after {
    font-size: 14px; /* Уменьшаем размер шрифта для экранов меньше 768px */
  }
}

@media screen and (max-width: 480px) {
  .footer-menu, .footer-menu::after {
    font-size: 12px; /* Уменьшаем размер шрифта для экранов меньше 480px */
  }
}

.footer-section {
  flex: 1 1 auto; /* Отменяем жесткую ширину */
  text-align: center;
}
.footer-menu a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет ссылки от родительского элемента */
}

.footer-content {
  display: flex; /* Размещаем элементы внутри footer-content в строку */
  align-items: center; /* Выравниваем элементы по вертикали */
}

.footer-menu p {
  font-size: 20px;
  line-height: 1;
  margin: 2;
}

.logo-img {
  width: 100%; /* Сделаем изображение логотипа занимающим всю доступную ширину */
  max-width: 200px; /* Установим максимальную ширину изображения */
  height: auto; /* Сохраняем пропорции изображения */
}

@media screen and (max-width: 768px) {
  .footer-menu p {
    font-size: 16px;
  }
  .logo-img {
    max-width: 250px;
  }
}




/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  #navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #navbar li {
    list-style: none;
    margin: 0 10px;
  }

  #navbar li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem; /* Размер шрифта в em или rem */
    transition: font-size 0.3s; /* Плавное изменение размера шрифта */
  }

  #navbar li:hover a {
    background-color: #555;
  }
}



/* Стили для основного контента */
#main-content {
  display: flex;
  color: #000000;
  margin-top: 0px; /* Расстояние между основным контентом и текстовым блоком */
  text-align: left;
  padding-left: 30px; /* Отступ слева */
}

.content-block {
  flex: 1;
  padding: 20px;
}


#text-block {
  display: flex;
  flex-direction: row; /* Указываем направление горизонтально */
  justify-content: space-around; /* Выравниваем элементы по горизонтали */
  align-items: stretch; /* Растягиваем блоки на всю высоту контейнера */
  flex-wrap: wrap; /* Позволяет блокам переноситься на новую строку */
}

.content-box {
  text-align: center;
  padding: 20px;
  background-color: #eeebeb;
  border-radius: 10px;
  margin: 5px;
  flex-grow: 1;
  overflow: hidden;
  border: 2px solid #333; /* Устанавливаем изначальную рамку */
  transition: transform 0.3s ease, border-width 0.3s ease; /* Анимация для плавного перехода */
}

.content-box:hover {
  transform: scale(1.05); /* Увеличиваем размер контейнера при наведении на него */
  background-color: #ffffff; /* Белый цвет фона при наведении */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Добавляем тень */
  border-width: 2px; /* Увеличиваем толщину рамки при наведении */
}

.content-box p {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  word-wrap: break-word;
}
.content-box p:hover {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #242424;
  word-wrap: break-word;
}
.content-box p:nth-child(1) {
  font-size: 4vw;
}

.content-box p:nth-child(2) {
  font-size: 2.5vw;
}

/* Медиа-запрос для адаптации на мобильных устройствах */
@media screen and (max-width: 768px) {
  #text-block {
    flex-direction: column; /* Переводим блоки в вертикальное расположение */
    align-items: center; /* Выравниваем блоки по центру по вертикали */
  }

  .content-box {
    flex-basis: auto; /* Возвращаем автоматический размер основы flex */
    width: 90%; /* Устанавливаем ширину блока на 90% ширины родительского элемента */
  }
}


/* Стили для изображений в блоке контента */
.content-block img {
  max-width: 100%;
  height: auto;
  max-height: 400px; /* Ограничиваем высоту изображения до 400px */
  width: 500px; /* Устанавливаем ширину изображения на 100% */
  min-width: 200px; /* Минимальная ширина изображения 200px */
  margin-bottom: 20px; /* Добавляем отступ снизу для изображения */
  position: relative; /* Устанавливаем позиционирование относительно */
  z-index: -2; /* Задаем z-index для изображения */
  border-radius: 10px; /* Закругляем углы изображения */
  overflow: hidden; /* Обрезаем любые части изображения, выходящие за рамки */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

/* Медиа-запрос для адаптации при ширине изображения 200px и менее */
@media screen and (max-width: 400px) {
  .content-block {
    flex-direction: column; /* Переводим блоки в вертикальное расположение */
    align-items: center; /* Выравниваем блоки по центру */
  }

}





.translate-container {
  max-width: 600px;
  margin: 20px auto 0;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #707274; /* Добавляем цвет рамки */
}


.translate-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 5px; /* Уменьшаем отступ сверху */
  text-align: center;
  color: black; /* Черный цвет текста */
  font-family: "Times New Roman", Times, serif; /* Устанавливаем шрифт */
}


.input-output-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: calc(100% - 22px); /* Adjusted for padding and border */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da; /* Изменяем цвет рамки */
  border-radius: 5px;
  resize: none; /* Prevents resizing of textarea */
  color: black; /* Черный цвет текста */
}

.language-select {
  display: flex;
  width: 100%;
}

.language-select select {
  padding: 10px 27px; /* Увеличиваем padding по горизонтали */
  margin-right: 10px;
  border: 1px solid #ced4da; /* Изменяем цвет рамки */
  border-radius: 5px;
  background-color: #e9ecef; /* Изменяем цвет фона */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23494C4C' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5 12l7 7 7-7H5z'/%3E%3C/svg%3E");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
  color: black; /* Черный цвет текста */
}
textarea,
.language-select select,
.output-container textarea {
  font-family: "Times New Roman", Times, serif; /* Устанавливаем шрифт */
  font-size: 16px; /* Увеличиваем размер шрифта */
}
.translate-button {
  padding: 10px 2em; /* Изменяем отступы по горизонтали */
  margin-top: 10px; /* Добавляем отступ сверху */
  margin-bottom: 5px;
  background-color: #c9c9c9;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif; /* Устанавливаем шрифт */
  font-size: 18px; /* Увеличиваем размер шрифта */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.translate-button:hover {
  transform: scale(1.05); /* Увеличиваем размер кнопки при наведении */
  box-shadow: 0 0 10px rgba(108, 117, 125, 0.5); /* Добавляем свечение */
}

.output-container {
  width: 100%;
  margin-top: 10px; /* Уменьшаем отступ сверху */
}

.output-container textarea {
  width: calc(100% - 22px); /* Adjusted for padding and border */
  padding: 10px;
  border: 1px solid #ced4da; /* Изменяем цвет рамки */
  border-radius: 5px;
  resize: none; /* Prevents resizing of textarea */
  color: black; /* Черный цвет текста */
}


#language-test-submenu {
  display: none; /* По умолчанию выпадающее меню скрыто */
  position: absolute; /* Позиционируем абсолютно относительно родительского элемента */
  background-color: #fff; /* Цвет фона выпадающего меню */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Тень для эффекта всплывания */
}

#language-test:hover #language-test-submenu {
  display: block; /* При наведении на пункт меню, выпадающее меню становится видимым */
}

#language-test-submenu li {
  display: block;
}

#language-test-submenu a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

#language-test-submenu a:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении на пункт меню */
}


/* Общие стили для таблиц */
.table-container table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto; /* Выравниваем таблицу по центру по горизонтали */
  padding: 20px 0; /* Добавляем отступы по бокам (слева и справа) */
  font-family: "Times New Roman", Times, serif; /* Шрифт */
}

/* Стили для заголовка таблицы */
.table-container th {
  padding: 15px;
  text-align: center;
  background-color: #dcdcdc;
  color: black; /* Черный цвет текста */
  border: 2px solid #acacac;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Times New Roman", Times, serif; /* Шрифт */
}

/* Эффекты при наведении на заголовки */
.table-container th:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  color: black; /* Черный цвет текста */
  transition: color 0.3s ease;
}


/* Стили для ячеек данных */
.table-container td {
  padding: 15px;
  text-align: center;
  border: 2px solid #acacac;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black; /* Черный цвет текста */
  font-family: "Times New Roman", Times, serif; /* Шрифт */
}

/* Эффекты при наведении на ячейки данных */
.table-container td:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Альтернативный цвет фона для каждой четной строки */
.table-container tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Добавляем разные оттенки фона для каждого столбца */
.table-container td:nth-child(1) {
  background-color: #f2f2f2;
}

.table-container td:nth-child(2) {
  background-color: #f5f5f5;
}

.table-container td:nth-child(3) {
  background-color: #f8f8f8;
}

.table-container td:nth-child(4) {
  background-color: #fbfbfb;
}

.table-container td:nth-child(5) {
  background-color: #fdfdfd;
}
h2 {
  color: black; /* Устанавливаем черный цвет текста для заголовков h3 */
}

/* Медиа-запрос для адаптивного представления таблиц на мобильных устройствах */
@media screen and (max-width: 800px) {
  .table-container {
    margin-bottom: 20px; /* Добавляем отступ между таблицами */
  }
  .table-container table thead {
    display: none;
  }
  .table-container table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  .table-container table td {
    display: block;
    text-align: right; /* Выравниваем текст по правому краю */
    padding: 10px 15px; /* Изменяем отступы ячеек данных */
  }
  .table-container table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}





/* Общие стили для контейнера блоков */
.lessons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили для блока с выбором языка, меню уроков и контента уроков */
.language-selection,
.lessons-content {
  width: 100%; /* Устанавливаем ширину 100% */
  max-width: 1400px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ccc;
}


/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 1400px) {
  .language-selection,
  .lessons-menu,
  .lessons-content {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    max-width: calc(100% - 20px);
  }
}
.language-selection {
  width: 90%; /* Уменьшаем ширину блока до 90% */
  margin: 0 auto 20px; /* Выравниваем по центру по горизонтали и добавляем нижний отступ */
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 10px; /* Убираем отступ сверху */
  padding: 15px;
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 600px) {
  .language-selection {
    margin: 10px; /* Убираем все отступы */
    padding: 10px; /* Уменьшаем внутренний отступ */
  }
}
.lessons-menu {
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Горизонтальная прокрутка */
  overflow-y: auto; /* Включаем вертикальную прокрутку, если контент не помещается */
  padding: 25px 10px 10px; /* Увеличиваем верхний отступ */
  box-sizing: border-box;
  height: 110px; /* Фиксированная высота */
  margin: 20px auto; /* Добавляем отступ сверху */
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 1400px) {
  .lessons-menu {
    height: auto; /* Устанавливаем автоматическую высоту при адаптации */
  }
}


/* Стили для списка уроков */
.lessons-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px; /* Уменьшаем отступы между элементами */
  overflow: auto; /* Добавляем прокрутку, если элементы не вмещаются */
}

/* Стили для пунктов меню уроков */
.lessons-menu li {
  margin-right: 5px; /* Уменьшаем отступы между пунктами */
}

/* Стили для кнопок */
.lessons-menu button {
  font-size: 12px; /* Уменьшаем размер шрифта кнопок */
  padding: 0px 5px; /* Уменьшаем внутренние отступы кнопок */
}

/* Стили для блока с контентом уроков */
.lessons-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% - 40px);
  max-width: 1360px;
  margin: 0 auto 20px; /* Добавлен отступ снизу */
}

/* Стили для блока урока */
.lesson-block {
  width: calc(50% - 20px); /* Уменьшаем ширину блока по бокам */
  max-width: 250px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* При наведении на блок, добавляем небольшую тень и поднимаем его */
.lesson-block:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Стили для контейнера изображения и текста */
.lesson-content {
  display: flex;
  align-items: center;
}

/* Стили для изображения в блоке урока */
.lesson-block img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}
.lesson-block a {
  text-decoration: none;
  color: black;
}


/* Стили для текста в блоке урока */
.lesson-block p {
  margin: 0;
  text-decoration: none;
}

.language-selection button {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s; /* Добавляем анимацию при наведении */
  background-color: #616161; /* Цвет фона кнопки */
  border: 2px solid #424242; /* Цвет рамки кнопки */
  margin: 5px; /* Добавляем отступы между кнопками */
}


.language-selection button:hover,
.language-selection button:active {
  background-color: #424242; /* Цвет фона кнопки при наведении и при нажатии */
  border-color: #212121; /* Цвет рамки кнопки при наведении и при нажатии */
  transform: translateX(5px); /* При наведении делаем смещение вправо на 5px */
}

.lesson-button {
  display: block;
  text-decoration: none;
  color: #000; /* Черный текст */
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s; /* Добавляем анимацию при наведении */
  background-color: #eeeeee; /* Светло-серый цвет фона кнопки */
  border: 2px solid #bdbdbd; /* Светло-серый цвет рамки кнопки */
}

.lesson-button:hover {
  background-color: #cccccc; /* Цвет фона кнопки при наведении */
  border-color: #9e9e9e; /* Цвет рамки кнопки при наведении */
  transform: rotate(5deg); /* При наведении на кнопку производим поворот вправо на 5 градусов */
}

.lesson-button:active,
.lesson-button.active { /* Дополнительный класс для кнопки, который будет применен после нажатия */
  background-color: #ffffff; 
  border-color: #ffffff; /* Светло-серый цвет рамки кнопки при нажатии */
  color: #000000; /* Белый текст */
}

.breadcrumbs {
  padding: 1em; /* Используем относительную единицу измерения для отступов */
  background-color: #f0f0f0;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  margin-right: 1em; /* Используем относительную единицу измерения для отступов между ссылками */
}

.breadcrumbs a:hover {
  color: #555;
}

.breadcrumbs a:not(:last-child)::after {
  content: '>';
  margin-left: 1em; /* Используем относительную единицу измерения для отступов между символами разделителя */
  color: #666;
}

@media screen and (max-width: 600px) {
  .breadcrumbs {
      font-size: 14px;
      padding: 0.5em; /* Уменьшаем отступы для маленьких экранов */
  }

  .breadcrumbs a {
      margin-right: 0.5em; /* Уменьшаем отступы между ссылками для маленьких экранов */
  }

  .breadcrumbs a:not(:last-child)::after {
      margin-left: 0.5em; /* Уменьшаем отступы между символами разделителя для маленьких экранов */
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Два столбца */
  grid-template-rows: auto auto; /* Два ряда */
  gap: 20px; /* Отступы между блоками */
  margin-bottom: 20px; /* Отступ снизу от контейнера до футера */
  padding: 20px; /* Отступы по бокам контейнера */
}

.grid-item {
  border: 1px solid #ccc; /* Рамка для отображения блоков */
  padding: 20px; /* Отступы внутри блоков */
  background-color: #f0f0f0; /* Цвет фона блока */
  border-radius: 10px; /* Закругленные углы для создания обьемности */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для добавления обьемности */
  color: #333; /* Черный цвет текста */
}

.header-content, .alphabet-section, .greetings-section, .task-section {
  overflow: auto; /* Если контент в блоке превышает размеры блока, добавляются полосы прокрутки */
}

.footer-menu {
  margin-top: 20px; /* Отступ сверху от футера */
}

@media screen and (max-width: 768px) {
  .grid-container {
      padding: 0 20px; /* отступы справа и слева */
      display: flex;
      flex-direction: column;
      gap: 20px; /* отступы между блоками */
  }
  .grid-item {
      width: calc(100% - 40px); /* ширина блока с учетом отступов справа и слева */
      margin-bottom: 20px; /* отступ снизу каждого блока */
  }
}




.books-container {
  width: 90%; /* Занимает 90% ширины экрана */
  margin: 20px auto; /* Отступы сверху и снизу, центрируем по горизонтали */
  background-color: #f0f0f0; /* Светлый серый цвет фона */
  padding: 10px; /* Внутренние отступы */
  border-radius: 10px; /* Скругляем углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
  border: 1px solid #ccc; /* Рамка вокруг блока книг */
}

.book-list {
  display: flex; /* Располагаем элементы в строку */
  justify-content: space-around; /* Равномерно распределяем пространство между элементами по горизонтали */
  flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
}
.books-container h2{
  color: #000;
}
.book-item {
  width: 200px; /* Задаем ширину каждого блока книги */
  padding: 5px 10px; /* Уменьшаем верхний и нижний внутренние отступы */
  margin-bottom: 20px; /* Отступ между блоками книг */
  text-align: center; /* Выравниваем содержимое по центру */
  background-color: #ffffff; /* Светлый серый цвет фона */
  border: 1px solid #ccc; /* Рамка вокруг блока книги */
  border-radius: 10px; /* Скругляем углы рамки */
  transition: box-shadow 0.3s ease; /* Плавное изменение тени при наведении */
}


.book-item img {
  max-width: 100%; /* Изображение не будет выходить за пределы блока */
  height: auto; /* Сохраняем пропорции изображения */
  border-radius: 10px; /* Скругляем углы изображения */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для изображения */
}

.book-item h2 {
  margin-top: 10px; /* Отступ над названием книги */
  font-size: 16px; /* Размер шрифта названия книги */
  font-weight: normal; /* Убираем жирный шрифт */
}
.book-item h3 {
  font-weight: normal; /* Убираем жирный шрифт для заголовков книг */
  font-size: 20px; /* Размер шрифта названия книги */
}

/* Фон при наведении */
.book-item {
  transition: transform 0.3s ease; /* Плавное изменение прыжка */
}

.book-item:hover {
  background-color: #d5d3d3; /* Меняем цвет фона при наведении */
  transform: scaleX(1.05); /* Расширение блока по горизонтали */
}
/* Стили для выпадающих списков */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 15px;
}

.dropbtn {
  background-color: #555; /* Цвет кнопки */
  color: white; /* Цвет текста */
  padding: 10px 20px; /* Поля вокруг текста */
  font-size: 18px; /* Увеличиваем размер шрифта */
  font-family: "Times New Roman", Times, serif; /* Устанавливаем шрифт */
  border: 2px solid #555; /* Добавление рамки */
  border-radius: 5px; /* Закругленные углы */
  cursor: pointer;
  width: 160px; /* Ширина кнопки */
  box-sizing: border-box; /* Учитываем ширину рамки в общей ширине */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Цвет фона выпадающего списка */
  width: 160px; /* Устанавливаем ширину выпадающего меню равной ширине кнопки */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Тень */
  z-index: 1;
  border: 2px solid #555; /* Добавление рамки */
  border-top: none; /* Убрать верхнюю рамку */
  border-radius: 0 0 5px 5px; /* Закругленные углы снизу */
}

.dropdown-content a {
  color: black; /* Черный цвет текста */
  padding: 2px 2px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd; /* Цвет фона при наведении */
}



/* Стили для мобильной версии */
@media (max-width: 600px) {
  .books-container {
    padding: 20px 10px; /* Уменьшаем внутренние отступы по бокам */
    width: 85%; /* Занимает всю ширину экрана */
  }
}
/* Установка высоты html и body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Стили модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto; /* Центрирование по горизонтали и вертикали */
  padding: 40px 20px; /* Увеличенный отступ сверху и обычный снизу */
  border: 1px solid #888;
  width: 90%;
  height: 90%; /* Уменьшение высоты для предотвращения появления полос прокрутки */
  max-width: 800px;
  max-height: 90%; /* Уменьшение максимальной высоты */
  overflow-y: auto;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 5px; /* Увеличенное расстояние от верхнего края */
  right: 10px; /* Увеличенное расстояние от правого края */
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#pdfViewer {
  width: 100%;
  height: 100%;
}


 /* Контент видео */
 .video__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
  justify-content: center;
}
/* Стили для видео */
.media-item {
  margin-bottom: 10px;
}

.media-content {
  background-color: #e9e7e7;
  padding: 5px;
  border-radius: 5px;
  transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s; /* Плавные переходы для тени, преобразования и изменения цвета фона */
}

.media-content:hover  {
  box-shadow: none; /* Сбрасываем тень при наведении */
  transform: translateY(-5px); /* Поднимаем блок немного вверх при наведении */
  background-color: lightgrey; /* Изменяем цвет фона при наведении */
}


.media-content img {
  max-width: 90%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px; /* Закругляем углы изображения */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  transition: transform 0.3s; /* Плавный переход для преобразования */
}

.media-content img:hover {
  transform: scale(1.05); /* Немного увеличиваем изображение при наведении */
}


.media-item h3 {
    margin: 10px 0 5px; /* Отступы сверху и снизу, но без отступа снизу */
    font-family: "Times New Roman", Times, serif; /* Шрифт */
    color: black; /* Черный цвет текста */
    font-size: 30px; /* Размер шрифта */
}


.media-content p {
  margin-top: 3px; /* Устанавливаем небольшой отступ над текстом */
  font-size: 20px; /* Уменьшаем размер шрифта */
  color: black; /* Черный цвет текста */
  font-family: "Times New Roman", Times, serif; /* Выбираем шрифт */
}
  .video-content,
  .audio-content {
    display: flex;
    flex-direction: row; /* Располагаем элементы по горизонтали */
    justify-content: space-around; /* Равномерно распределяем элементы по горизонтали */
    margin: 20px 0; /* Добавляем отступ сверху и снизу */
  }
  
  .video-content .media-content,
  .audio-content .media-content {
    margin: 0 10px; /* Добавляем отступ между элементами */
  }
/* Медиа-запрос для мобильной версии */
@media only screen and (max-width: 768px) {
  .video-content,
  .audio-content {
    flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
    justify-content: space-between; /* Распределяем элементы равномерно по горизонтали */
  }
  
  .video-content .media-content,
  .audio-content .media-content {
    margin: 10px; /* Уменьшаем отступ между элементами */
    width: calc(50% - 20px); /* Устанавливаем ширину элементов в 50% с учетом отступов */
    box-sizing: border-box; /* Учитываем padding и border в расчете ширины элемента */
  }
}

/* Медиа-запрос для мобильной версии */
@media only screen and (max-width: 600px) {
  .video-content .media-content,
  .audio-content .media-content {
    margin: 10px; /* Уменьшаем отступ между элементами */
    width: calc(100% - 20px); /* Устанавливаем ширину элементов в 100% с учетом отступов */
    box-sizing: border-box; /* Учитываем padding и border в расчете ширины элемента */
    margin-bottom: 20px; /* Добавляем отступ снизу */
  }
}


body {
  font-family: "Times New Roman", Times, serif; /* Шрифт Times New Roman */
  color: black; /* Черный цвет текста */
}

.container {
  text-align: center; /* Выравнивание текста по центру */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center; /* Выравнивание заголовка по центру */
}

.question p {
  font-size: 20px;
  margin-bottom: 10px;
}

.question input[type="radio"],
button[type="submit"] {
  font-size: 16px;
}

.question-block {
  background-color: #f9f9f9; /* Цвет фона блока с вопросом */
  border: 2px solid #ccc; /* Толщина и цвет рамки */
  border-radius: 10px; /* Закругление углов */
  padding: 20px; /* Поля вокруг блока с вопросом */
  margin-bottom: 20px; /* Отступ между блоками вопросов */
}
.question {
  text-align: left; /* Выравнивание текста вопроса по левой стороне */
  padding-left: 20px; /* Отступ слева вопроса */
  margin-bottom: 10px; /* Отступ между вопросом и вариантами ответов */
}

.question input[type="radio"] {
  display: inline-block; /* Отображать как блоки */
  border: none; /* Убираем границы */
  padding: 10px 20px; /* Поля вокруг текста */
  margin: 5px; /* Отступы между кнопками */
  cursor: pointer; /* Показываем указатель при наведении */
  border-radius: 5px; /* Закругляем углы */
  background-color: #007bff; /* Цвет фона */
  color: white; /* Цвет текста */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

.question input[type="radio"]:hover {
  background-color: #0056b3; /* Изменяем цвет фона при наведении */
}

.question input[type="radio"]:checked {
  background-color: #93989d; /* Изменяем цвет фона для выбранного ответа */
}



button[type="submit"] {
  display: inline-block; /* Изменено на inline-block, чтобы кнопка занимала только необходимое пространство */
  padding: 15px 30px; /* Увеличены поля вокруг текста кнопки */
  border: 2px solid #ccc; /* Толщина и серый цвет рамки */
  border-radius: 5px; /* Закругление углов */
  background-color: #f0f0f0; /* Светло-серый цвет фона кнопки */
  color: #333; /* Черный цвет текста кнопки */
  font-size: 18px; /* Размер шрифта */
  cursor: pointer; /* Изменение курсора при наведении */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Плавное изменение цвета фона, размера и тени */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень кнопки */
}

button[type="submit"]:hover {
  transform: scale(1.05); /* Увеличение размера кнопки при наведении */
  background-color: #ddd; /* Светлый серый цвет фона при наведении */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}


/* Для мобильных устройств */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .question p {
    font-size: 20px;
  }

  .question input[type="radio"],
  button[type="submit"] {
    font-size: 18px;
  }
}


/* Стили для кнопки "Казахский" */
.language-buttons a:nth-child(1) button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-buttons a:nth-child(1) button:hover {
  background-color: #e1e1e1;
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопки "Русский" */
.language-buttons a:nth-child(2) button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-buttons a:nth-child(2) button:hover {
  background-color: #e1e1e1;
  transform: scale(1.2) skewX(20deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Стили для кнопки "Английский" */
.language-buttons a:nth-child(3) button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2c2c2;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.language-buttons a:nth-child(3) button:hover {
  background-color: #e1e1e1;
  transform: scale(1.1) skewY(10deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.simple-bar-chart{
  --line-count: 20; /* Увеличиваем количество линий на фоне */
  --line-color: currentcolor;
  --line-opacity: 0.25;
  --item-gap: 2%;
  --item-default-color: #060606;
  
  
  height: 15rem; /* Уменьшаем высоту диаграммы */
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 1.5rem; /*space for labels*/
  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
}

.simple-bar-chart::after{
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}
.simple-bar-chart > .item{
  height: calc(1% * var(--val));
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  opacity: 0.8; /* Устанавливаем немного прозрачности для каждого элемента диаграммы */
  animation: item-height 1s ease forwards
}
.simple-bar-chart > .item > * { 
position: absolute; 
text-align: center; 
}
.simple-bar-chart > .item > .value {
  position: absolute;
  text-align: center;
  visibility: hidden; /* изначально скрываем проценты */
}
.simple-bar-chart > .item > .label,
.simple-bar-chart > .item > .value {
  color: rgba(0, 0, 0, 0.8); /* Устанавливаем цвет текста с небольшой прозрачностью */
  font-family: "Times New Roman", Times, serif; /* Устанавливаем шрифт Times New Roman */
}

@keyframes item-height { from { height: 0 } }

.simple-bar-chart > .item > * { position: absolute; text-align: center }
.simple-bar-chart > .item > .label { inset: 100% 0 auto 0 }
.simple-bar-chart > .item > .value { inset: auto 0 100% 0 }
/* Добавляем стили для мобильных устройств */
@media (max-width: 768px) {
  .simple-bar-chart > .item > .label {
    writing-mode: vertical-lr; /* Вертикальное направление текста */
    transform: rotate(180deg); /* Поворачиваем текст на 180 градусов */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    text-align: center; /* Выравниваем текст по центру */
    margin: 0 auto; /* Выравниваем по центру */
  }
 


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  position: absolute; /* Изменено значение позиции */
  left: 50%; /* Позиционируем относительно левого края */
  top: 50%; /* Позиционируем относительно верхнего края */
  transform: translate(-50%, -50%); /* Центрируем по горизонтали и вертикали */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#result,
#score,
#correct-answers,
#incorrect-answers,
#level {
  color: black;
}

/* Стили для модального окна */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Стили для форм */
.login-form,
.registration-form {
  width: 80%;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

/* Стили для текстовых полей */
.login-form input,
.registration-form input {
  width: calc(100% - 24px); /* Занимаем всю доступную ширину с учетом внутренних отступов */
  margin: 10px auto; /* Центрирование по горизонтали и добавление отступов сверху и снизу */
  padding: 12px; /* Внутренние отступы */
  border: 1px solid #ccc; /* Рамка (серый цвет) */
  border-radius: 5px; /* Скругление углов */
  background-color: #f2f2f2; /* Цвет фона (серый оттенок) */
  box-sizing: border-box; /* Учитываем рамку и внутренние отступы в общую ширину элемента */
}

/* Стили для кнопок */
.login-form button,
.registration-form button {
  width: calc(100% - 24px); /* Занимаем всю доступную ширину с учетом внутренних отступов */
  margin: 10px auto; /* Центрирование по горизонтали и добавление отступов сверху и снизу */
  padding: 12px; /* Внутренние отступы */
  border: none; /* Убираем рамку */
  border-radius: 5px; /* Скругление углов */
  background-color: #007bff; /* Цвет фона кнопки (синий) */
  color: #fff; /* Цвет текста */
  cursor: pointer; /* Задаем указатель при наведении */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}
/* Стили для ссылки регистрации */
.login-form a {
  text-decoration: none; /* Убираем подчеркивание */
}
.soile-container {
  max-width: 1100px; /* Максимальная ширина блока */
  margin: 10px auto 0; /* Центрирование блока и добавление отступа сверху */
  padding: 20px; /* Поля внутри блока */
  font-size: 1.2em; /* Размер шрифта в относительных единицах */

}

.soile-container {
  text-size-adjust: none; /* Выравнивание текста по ширине */
}

.soile-container p {
  margin: 10px 0; /* Отступы между абзацами */
  text-align: justify; /* Выравнивание текста по левому краю */
}
.conta {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  padding: 0 20px; /* Добавляем отступы по бокам экрана */
}

.feedback-block,
.error-block {
  width: calc(50% - 20px); /* Уменьшаем ширину блоков и добавляем отступы */
  flex: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px; /* Уменьшаем отступы между блоками */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Медиа-запрос для адаптации на мобильных устройствах */
@media screen and (max-width: 768px) {
  .feedback-block,
  .error-block {
    width: calc(100% - 20px); /* Ширина блоков - 100% ширины родительского контейнера, минус отступы */
  }
}

.feedback-block h2,
.error-block h2 {
  margin-top: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem; /* Уменьшаем размер заголовка */
}

.feedback-block form label,
.error-block form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem; /* Увеличиваем размер шрифта меток */
}

.feedback-block form input,
.feedback-block form select,
.feedback-block form textarea,
.error-block form input,
.error-block form select,
.error-block form textarea {
  width: 90%; /* Ширина полей формы на всех экранах */
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.9rem; /* Уменьшаем размер текста полей ввода */
}

.feedback-block form button,
.error-block form button {
  background-color: #ded9d9;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem; /* Уменьшаем размер кнопки */
  margin-top: 10px;
  transition: background-color 0.3s;
}

.feedback-block form button:hover,
.error-block form button:hover {
  background-color: #adadad;
}

/* Медиа-запрос для адаптации на мобильных устройствах */
@media screen and (max-width: 768px) {
  .conta {
    flex-direction: column; /* Столбцы на мобильных устройствах */
    align-items: center; /* Выравнивание блоков по центру на мобильных устройствах */
    padding: 0; /* Убираем отступы по бокам на мобильных устройствах */
  }

  .feedback-block,
  .error-block {
    width: 80%; /* Ширина блоков на мобильных устройствах */
  }
}
